```objc
// Iterate with a filter over the index
[index browseWithQuery:query block:^(ASBrowseIterator *iterator, BOOL end, NSString *error) {
	// Retrieve the next cursor from the browse method
	[iterator valueForkey:cursor];
    if (error != nil) {
        // Handle errors
    } else if (end) {
        // End of the index
    } else {
        // Do something
        [iterator next];
    }
}];
```