```php
// Iterate with a filter over the index
foreach ($this->index->browse('', array("numericFilters" => "i<42")) as $hit) {
  print_r($hit);
}

$next_cursor = $this->index->browseFrom('', array("numericFilters" => "i<42"), null)["cursor"];
```

