```go
// Iterate with a filter over the index
items, err := index.BrowseAll(map[string]interface{}{"query": "text", "numericFilters": "i<42"}
for {
	hit, err := items.Next()
	if err {
		break
	}
}
```

