```swift
let newObject = ["firstname": "Jimmie", "lastname": "Barninger"]
index.addObject(object, withID: "myID", block: { (content, error) -> Void in
	if error == nil {
		let objectID = content!["objectID"] as String
		println("Object ID: \(objectID)")
	}
)
```
