```swift
self.index.browse(query, block: { (iterator, end, error) -> Void in
	// Retrieve the next cursor from the browse method
	print(iterator.cursor)
    if let error = error {
        // Handle errors
    } else if end {
        // End of index
    } else {
        // Do something
        iterator.next()
    }
})

```