```swift
// Rename MyIndex in MyIndexNewName
client.moveIndex("MyIndex", to: "MyIndexNewName", block: { (content, error) -> Void in
	if let error = error {
		println("Move failure: \(error)")
	} else {
		println("Move success: \(content)")
	}
})
// Copy MyIndex in MyIndexCopy
client.copyIndex("MyIndex", to: "MyIndexCopy", block: { (content, error) -> Void in
	if let error = error {
		println("Copy failure: \(error)")
	} else {
		println("Copy success: \(content)")
	}
})
```
