```swift
// Retrieves all attributes
index.getObject("myID", block: { (content, error) -> Void in
	if error == nil {
		println("Object: \(content)")
	}
})
// Retrieves only the firstname attribute
index.getObject("myID", attributesToRetrieve: ["firstname"], block: { (content, error) -> Void in
	if error == nil {
		println("Object: \(content)")
	}
})
```
