```swift
// Retrieves all attributes
index.getObject("myID", completionHandler: { (content, error) -> Void in
	if error == nil {
		print("Object: \(content)")
	}
})
// Retrieves only the firstname attribute
index.getObject("myID", attributesToRetrieve: ["firstname"], completionHandler: { (content, error) -> Void in
	if error == nil {
		print("Object: \(content)")
	}
})
```
