```swift
index.getSettings(completionHandler: { (content, error) -> Void in
	if error == nil 
		print("Settings: \(content!)")
	}
})
```

```swift
let customRanking = ["desc(followers)", "asc(name)"]
let settings = ["customRanking": customRanking]
index.setSettings(settings)
```
