```swift
let index = client.getIndex("contacts")
index.search(Query(query: "s"), block: { (JSON, error) -> Void in
	if error == nil {
		println("Result: \(JSON)")
	}
})

let query = Query(query: "s")
query.attributesToRetrieve = ["firstname", "lastname"]
query.hitsPerPage = 50
index.search(query, block: { (JSON, error) -> Void in
	if error == nil {
		println("Result: \(JSON)")
	}
})
```
