```swift
let index = client.getIndex("contacts")
index.search(Query(query: "s"), completionHandler: { (content, error) -> Void in
	if error == nil {
		print("Result: \(content!)")
	}
})

let query = Query(query: "s")
query.attributesToRetrieve = ["firstname", "lastname"]
query.hitsPerPage = 50
index.search(query, completionHandler: { (content, error) -> Void in
	if error == nil {
		print("Result: \(content!)")
	}
})
```
