```swift
index.search(Query(query: "or"), block: { (content, error) -> Void in
	if error == nil {
		println("Result: \(content)")
	}
})

index.search(Query(query: "jim"), block: { (content, error) -> Void in
	if error == nil {
		println("Result: \(content)")
	}
})
```
