```swift
index.search(Query(query: "or"), block: { (JSON, error) -> Void in
	if error == nil {
		println("Result: \(JSON)")
	}
})

index.search(Query(query: "jim"), block: { (JSON, error) -> Void in
	if error == nil {
		println("Result: \(JSON)")
	}
})
```
