```swift
// Enable the search cache with default settings.
index.enableSearchCache()
```

Or:

```swift
// Enable the search cache with a TTL of 5 minutes.
index.enableSearchCache(expiringTimeInterval: 300)
```
