1. Add `pod 'AlgoliaSearch-Client-Swift', '~> 3.0'` to your Podfile. (We only support Cocoapods so far.)
2. Add `import AlgoliaSearch` to your source files.
3. Initialize the client with your application ID and API key (you can find them on [your Algolia Dashboard](https://www.algolia.com/api-keys)):

```swift
let client = Client(appID: "YourApplicationID", apiKey: "YourAPIKey")
```
