```swift
index.addObject(newObject, block: { (content, error) -> Void in
	if error == nil {
		self.index.waitTask(content!["taskID"] as Int, block: { (content, error) -> Void in
			if error == nil {
				println("New object is indexed!")
			}
		})
	}
})
```
