```swift
index.addObject(newObject, completionHandler: { (content, error) -> Void in
	if error != nil {
		return
	}
	guard let taskID = content!["taskID"] as? Int else {
		return // could not retrieve task ID
	}
	self.index.waitTask(taskID, completionHandler: { (content, error) -> Void in
		if error == nil {
			print("New object is indexed!")
		}
	})
})
```
