```java
index.addObjectASync(new JSONObject()
      .put("firstname", "Jimmie")
      .put("lastname", "Barninger"), this);
```

You will get the assigned objectID in the `indexingResult` callback of the IndexingListener interface:

```java
@Override
public void indexingResult(Index index, TaskParams.Indexing context, JSONObject result) {
  Log.d("debug", result.optString("objectID"));
}
```
