```java
JSONObject object = new JSONObject()
    .put("firstname", "Jimmie")
    .put("lastname", "Barninger");
index.addObjectAsync(object, new CompletionHandler() {
    @Override
    public void requestCompleted(JSONObject content, AlgoliaException error) {
        // Retrieve the auto-assigned object ID:
        if (content != null) {
            String objectID = content.optString("objectID");
        }
    }
});
```
