```java
index.getSettingsASync(this);
```

You will get the index settings in the `settingsResult` methods of SettingsListener:

```java
@Override
public void settingsResult(Index index, TaskParams.Settings context, JSONObject results) {
    Log.d("debug", results.toString());
}
```

```java
index.setSettingsASync(new JSONObject().append("customRanking", "desc(followers)"), this);
```
