```java
index.getSettingsAsync(new CompletionHandler() {
    @Override
    public void requestCompleted(JSONObject content, AlgoliaException error) {
        // [...]
    }
});
```

```java
index.setSettingsAsync(new JSONObject().append("customRanking", "desc(followers)"), null);
```
