```java
// Enable the search cache with default settings.
index.enableSearchCache();
```

... or:

```java
// Enable the search cache with a TTL of 5 minutes and maximum 20 requests in the cache.
index.enableSearchCache(300, 20);
```
