- Add the following dependency to your Gradle build file:

```gradle
dependencies {
    // [...]
    compile 'com.algolia:algoliasearch-android:3.+@aar'
}
```

- Initialize the client with your application ID and API key. You can find them on [your Algolia Dashboard](https://www.algolia.com/api-keys).

```java
Client client = new Client("YOUR_APP_ID", "YOUR_API_KEY");
```
