```scala
// generate a public API key for user 42. Here, records are tagged with:
//  - 'user_XXXX' if they are visible by user XXXX
String publicKey = client.generateSecuredApiKey("YourSearchOnlyApiKey", Query(tagFilters = Some(Seq("user_42"))), Some("42"))
```
