```scala
// Retrieves all attributes
client.execute {
	get objectId "myId" from "index"
}

//or
client.execute {
	get from "index" objectId "myId"
}
```

You can get a case object by:
```scala
val result = client.execute {
	get / "index" / "myId"
}

result.map(_.as[Contact])
```