```scala
libraryDependencies += "com.algolia" %% "algoliasearch-scala" % "1.1.0"
```

For Snapshots add the Sonatype repository:
```scala
resolvers += "Sonatype OSS Snapshots" at "https://oss.sonatype.org/content/repositories/snapshots"
```